{% extends 'logs/base.html' %}

{% block site-title %}Drake's Maintenance Management{% endblock %}


{% block nav-home %}
  active
{% endblock %}


{% block page-header %}
{% endblock %}

{% block page-header-sub %}
{% endblock %}


{% block content %}

  <div class="row">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
      <h2> Availability by Location (past month)</h2>
      <h5>Brew House 1</h5>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 96%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <br>
      <h5>Brew House 2</h5>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" style="width: 98%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"> 100% </div>
      </div>
      <br>
      <h5>Mill Room</h5>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: 100%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <br>
      <h5>Packaging</h5>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" style="width: 90%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
  </div>

  <br>
  <br>

  <div class="row">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
      <h2>Recent logs</h2>
      <div class="table">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Equipment</th>                 
              <th>Log Type</th>                
              <th>Log Summary</th>
              <th>Resolved?</th>
            </tr>
          </thead>

          <tbody>
          {% if recent_logs %}
            {% for log in recent_logs %}
              <tr>
                  <td>{{ log.equipment }}</td>                    
                  <td>{{ log.type }}</td>                          
                  <td><a href="{% url 'logs:log_detail' log.id %}">{{ log.summary }}</a></td>
                  <td>{% if log.resolved %}
                        <i class="fas fa-check-circle" style="color:green"></i>
                      {% else %}
                        <i class="fas fa-times-circle" style="color:red"></i>
                      {% endif %} </td>
              </tr>
            {% endfor %}
          {% else %}
            <p>No services available.</p>
          {% endif %}            
          </tbody>

        </table>         
      </div>      
    </div>
  </div>

<br>
  <div class="row">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
      <h2>Upcoming Maintenance</h2>
      <div class="table">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Equipment</th>                 
              <th>Description</th>                
              <th>Frequency</th>
              <th>Last Serviced</th>
            </tr>
          </thead>

          <tbody>
          {% if upcoming_services %}
            {% for service in upcoming_services %}
              <tr>
                  <td>{{service.equipment}}</td>
                  <td><a href="{% url 'logs:service_detail' service.id %}">{{service.description}}</a></td>
                  <td>{{service.get_frequency_display}}</td>
                  <td>{{service.get_last_service_time|date:"SHORT_DATE_FORMAT"}}</td>
              </tr>
            {% endfor %}
          {% else %}
            <p>No services available.</p>
          {% endif %}            

          </tbody>

        </table>         
      </div>      
    </div>
  </div>
{% endblock %}