{% extends 'logs/base.html' %}

{% block site-title %}Drake's Maintenance Logs{% endblock %}


{% block nav-logs %}
  active
{% endblock %}


{% block page-header %}
  Maintenance Logs
{% endblock %}

{% block page-header-sub %}
work logs, requests, equipment issues, & preventative maintenance
{% endblock %}


{% block content %}

  <div class="row">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
      <p><a target="_blank" class="btn btn-success" href="/admin/logs/log/add/" role="button">+ Add Log</a></p>
      <div class="table">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Equipment</th>              
              <th>Log Type</th>
              <th>Log Summary</th>
              <th>Resolved?</th>
            </tr>
          </thead>

          <tbody>
          {% if log_list %}
            {% for log in log_list %}
              <tr>
                  <td>{{ log.id }}</td>
                  <td>{{log.equipment.get_location}} - {{log.equipment}}</td>                
                  <td>{{log.type}}</td>
                  <td><a href="{% url 'logs:log_detail' log.id %}">{{log.summary}}</a></td>
                  <td>{% if log.resolved %}
                        <i class="fas fa-check-circle" style="color:green"></i>
                      {% else %}
                        <i class="fas fa-times-circle" style="color:red"></i>
                      {% endif %} </td>
              </tr>
            {% endfor %}
          {% else %}
            <p>No logs available.</p>
          {% endif %}            

          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}