{% extends 'logs/base.html' %}

{% block site-title %}Service Information{% endblock %}


{% block nav-services %}
  active
{% endblock %}


{% block page-header %}
 <h2> Maintenance Service Detail</h2>
{% endblock %}

{% block page-header-sub %}
<!-- {{service.equipment}} -->
<p>Service created: {{service.created}}</p>
{% endblock %}


{% block content %}
  <div class="row">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
      <h4><b>{{service.description}}</b></h4>
      <div class="table table-sm">
        <table class="table table-responsive table-hover table-striped">
          <tbody>          
            <tr>
              <td><b>Equipment:  </b></td>
              <td><a href="{% url 'equipment:info' location_id=service.equipment.get_location pk=service.equipment.id %}"> {{service.equipment}}</a></td>
            </tr> 
            <tr>
              <td><b>Location:  </b></td>
              <td><a href="{% url 'equipment:location' service.equipment.get_location %}"> {{service.equipment.location}}</a></td>
            </tr>
            <tr>
              <td><b>Frequency:  </b></td>
              <td>{{service.get_frequency_display}}</td>
            </tr>
            <tr>
              <td><b>Last Service:  </b></td>
              <td>{{service.get_last_service_time}}</td>
            </tr>                                
          </tbody>
        </table>
          {% if service.notes %} <p><b>Notes:</b> {{ service.notes }}</p> {% else %}{% endif %}
      </div>
      <a target="_blank" class="btn btn-success" href="/admin/logs/log/add/?services={{service.id}}" role="button">+ Add Service Log</a>
      <a target="_blank" class="btn btn-primary" href="/admin/logs/service/{{service.id}}/change" role="button">Edit Service</a>
      <a target="_blank" class="btn btn-danger" href="/admin/logs/service/{{service.id}}/delete" role="button">Delete</a>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
      <br>
      <h3>Service Logs</h3>
      {% if service_logs %}
      <div class="table">
        <table class="table thead-dark table-responsive table-striped">
          <thead>
            <tr>
              <th>Created</th>            
              <th>Log Type</th>
              <th>Log Summary</th>
              <th>Resolved?</th>
            </tr>
          </thead>

          <tbody>

            {% for log in service_logs %}
              <tr>
                  <td>{{ log.created|date:"SHORT_DATE_FORMAT" }}</td>             
                  <td>{{log.type}}</td>
                  <td><a href="{% url 'logs:log_detail' log.id %}">{{log.summary}}</a></td>
                  <td>{% if log.resolved %}
                        <i class="fas fa-check-circle" style="color:green"></i>
                      {% else %}
                        <i class="fas fa-times-circle" style="color:red"></i>
                      {% endif %} </td>
              </tr>
            {% endfor %}
          {% else %}
            <p>No logs available.</p>
          {% endif %}            

          </tbody>
        </table>
      </div>
    </div>
  </div>
    
{% endblock %} 




