{% extends 'logs/base.html' %}

{% block site-title %}Drake's Maintenance Services{% endblock %}


{% block nav-services %}
  active
{% endblock %}


{% block page-header %}
  Maintenance Services
{% endblock %}

{% block page-header-sub %}
periodic maintenace work for brewery equipment 
{% endblock %}


{% block content %}

  <div class="row">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
      <p><a target="_blank" class="btn btn-success" href="/admin/logs/service/add/" role="button">+ Add Service</a></p>
      <div class="table">
        <table class="table table-striped table-responsive">
          <thead>
            <tr>
              <th>Equipment</th>
              <th>Description</th>
              <th>Status</th>
              <th>Frequency</th>
              <th>Last Service</th>
            </tr>
          </thead>

          <tbody>
          {% if service_list %}
            {% for service in service_list %}
              <tr>
                  <td>{{service.equipment}}</td>
                  <td><a href="{% url 'logs:service_detail' service.id %}">{{service.description}}</a></td>
                  <td>{% if service.due_for_service %}
                        <i class="fas fa-wrench" style="color:red"></i>
                      {% else %}
                        <i class="fas fa-check-circle" style="color:green"></i>
                      {% endif %} </td>                  
                  <td>{{service.get_frequency_display}}</td>
                  <td>{{service.get_last_service_time|date:"SHORT_DATE_FORMAT"}}</td>
              </tr>
            {% endfor %}
          {% else %}
            <p>No services available.</p>
          {% endif %}            

          </tbody>
        </table>
        {% if is_paginated %}
            <div class="pagination">
                <span class="page-links">
                    {% if page_obj.has_previous %}
                        <a class="btn btn-primary" href="{% url 'logs:sp' page=page_obj.previous_page_number %}">Previous</a>
                    {% endif %}
                    <span class="page-current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                    </span>
                    {% if page_obj.has_next %}
                        <!-- <a class="btn btn-primary" href="/service/?page={{ page_obj.next_page_number }}">next</a> -->
                        <a class="btn btn-primary" href="{% url 'logs:sp' page=page_obj.next_page_number %}">Next</a>
                    {% endif %}
                </span>
            </div>
        {% endif %}        
      </div>
    </div>
  </div>
{% endblock %}