{% extends 'equipment/base.html' %}

{% block site-title %}{{equipment.equipment_name}}{% endblock %}


{% block nav-equipment %}
  active
{% endblock %}


{% block page-header %}
  {{equipment.equipment_name}}
{% endblock %}

{% block page-header-sub %}
  Equipment Information
{% endblock %}


{% block content %}
  <div class="row">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
      <div class="table table-sm">
        {% if equipment %}
          <table class="table table-responsive table-striped">
            <tbody>
              <tr>
                <td><b>Location</b></td>
                <td>{{equipment.location}}</td>
              </tr>          
              <tr>
                <td><b>Manufacturer</b></td>
                <td>{{equipment.manufacturer}}</td>
              </tr>
              <tr>
                <td><b>Serial #</b></td>
                <td>{{equipment.serial_no}}</td>
              </tr>
              <tr>
                <td><b>Purchase Date</b></td>
                <td>{{equipment.purchase_date}}</td>
              </tr>
              <tr>
                <td><b>Supplier</b></td>
                <td>{{equipment.Supplier}}</td>
              </tr>                   
              <tr>
                <td><b>Service Contact/Info</b></td>
                <td>{{equip.service_contact}}</td>
              </tr>          
            </tbody>
          </table>

        {% else %}
          <p>No locations are available.</p>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-9">
        <h3>{{equipment.equipment_name}} Logs:</h3>
        <br><br>    
    </div>
  </div>

<!-- Have a parts button that links to a different page -->
<!--     <div class="row">
    <div class="col-lg-9">
        <h3>{{equipment.equipment_name}} Parts:</h3>     
        <br><br>        
    </div>
  </div> -->
    
{% endblock %} 




