{% extends 'equipment/base.html' %}

{% block site-title %}Location{% endblock %}


{% block nav-equipment %}
  active
{% endblock %}


{% block page-header %}
  {{location.location_name}} Equipment
{% endblock %}

{% block page-header-sub %}
  All machines associated with {{location.location_name}}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
      {% if equipments %}
      <ul class="list-group">
        {% for equip in equipments %}
          <li class="list-group-item">
            <a href="{% url 'equipment:info' location_id=location.location_id pk=equip.id %}">{{equip.equipment_name}}</a>
          </li>
        {% endfor %}
      </ul>
      {% else %}
        <p>No equipment logged in this location.</p>
      {% endif %}


    </div>
  </div>
{% endblock %}