{% extends 'equipment/base.html' %}

{% block site-title %}Drake's Plant Locations{% endblock %}


{% block nav-equipment %}
  active
{% endblock %}


{% block page-header %}
  Plant Locations
{% endblock %}

{% block page-header-sub %}
  equipment organized by plant location
{% endblock %}


{% block content %}

  <div class="row">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
      {% if plant_locations %}
      <ul class="list-group">
        {% for location in plant_locations %}
          <li class="list-group-item">
            <a href="{% url 'equipment:location' location.location_id %}">{{ location.location_name }} ({{location.location_id}})</a>
          </li>
        {% endfor %}
      </ul>
      {% else %}
        <p>No equipment logged in this location.</p>
      {% endif %}


    </div>
  </div>
{% endblock %}